.container-galeria {
    position: relative;
    max-width: 1120px;
    margin: 0 auto;
}

.titulo-galeria {
    margin: 16px 0;
}

.container-imagenes-galeria {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-left: 0;
    gap: 8px;
}