.container-hero {
    background-image: url('../img/hero_background.png');
    height: 512px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container-hero-description {
    background-color: rgba(0 0 0 / 20%);
}

.container-hero-description > * {
    color: white;
}