.contenedor-item {
    background-color: aquamarine;
    max-width: 512px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
    padding: 8px;
    border-radius: 8px;
}

.contenedor-img {
    background-color: red;
    display: flex;
    align-items: center;
}

.imagen-item {
    width: 100%;
    object-fit: cover;
}